
.env
depl.yaml
depl_f.yaml
depl_ne_l2.yaml
depl_ne_w.yaml
svc.yaml
swdata.zip
swdata
all_types.json
/solid_hatch_polyline_path.dxf

/solid_hatch_polyline_path_with_bulge.dxf

/solid_hatch_test.dxf

/solid_hatch_test2.dxf


/line.dxf

/grp.json

/crazy_panel2.json

/crazy_panel.json


/test-props.http
